{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Task manager' %}{% endblock %}

{% block content %}
    <div class="card text-center" style="margin-top: 50px">
        <div class="card-body p-5 bg-light">
            <div class="d-flex flex-column">
            <h1 class="display-4">{% translate 'Welcome to the Task manager' %}</h1>
            <br>
            <p class="lead">{% translate 'Is an application, which allows you to set tasks, assign performers and change their statuses' %}</p>
        </div>
        </div>
    </div>
{% endblock content %}